<:Title>
  Chat

<:Body>
  <h1>{{ current_chat._name }}</h1>
  {{ store.chats.each_with_index do |chat, index| }}
    <div>
      {{ chat._name }} |
    <a e-click="params._index = index">Join chat</a>
    </div>
  {{ end }}
  <br />

  <form e-submit="send_message">
    <label>Message</label>
    <input type="text" class="form-control" value="{{ page._message_body }}" />
  </form>

  {{ current_chat.messages.reverse.each do |message| }}
    <:message user="{{ message.user.name }}" message="{{ message.body }}" />
  {{ end }}

<:Message>
  <div>
    <strong>{{ attrs.user }} :</strong>
    <span>{{ attrs.message }}</span>
  </div>
